@use "../../styles/theme.module.scss" as theme;

.input {
  padding: 8px;
  border: 1px solid theme.$grey100;
  border-radius: 4px;
  font-size: theme.$font-size-s;

  &.isInvalid {
    border: solid 2px theme.$error-primary;
    background-color: theme.$error-background;
  }

  &:focus {
    outline-color: theme.$warning-primary;
  }
}
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: fit-content;
}

.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.error {
  color: red;
  font-size: 0.8em; // エラーメッセージのフォントサイズ
  // 必要に応じて他のスタイルを追加
}

.characterCount {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.labelAndCountContainer {
  display: flex;
  justify-content: space-between;
}

.requiredApostrophe {
  color: red; // 赤色にする
  font-size: 15px; // 通常のテキストより小さくする
  vertical-align: super; // 上付き文字にする
}