<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
<language>ja</language>
<title>FANZAニュース</title>
<description>【FANZA(ファンザ)】</description>
<pubDate>Mon, 26 Aug 2024 07:23:24 +0000</pubDate>
<generator>FANZAニュース Feed Generator</generator>
<link>https://news.dmm.co.jp</link>
<author>FANZAニュース</author>
<copyright>Copyright(C) since 1998 DMM All Rights Reserved.</copyright>
<item>
<title>『GR未歩なな＆楓カレン＆石川澪』登場する記念ガチャ毎日無料！？ ログインで「UR強化アイテム」毎日もらえる♪</title>
<description><![CDATA[<span style="font-family: arial, helvetica, sans-serif">AV GAMESがFANZA GAMESにて実写カード育成バトル【<strong><span style="color: #ff0000">特命！ハメまくりカンパニー</span></strong>】（以下“<span style="color: #ff0000"><strong>ハメカン</strong></span>”）を配信中です。</span>

<span style="font-family: arial, helvetica, sans-serif"><strong>三上悠亜、高橋しょう子、桃乃木かな、桜空もも、七沢みあ、架乃ゆら、初川みなみ、伊藤舞雪</strong>など、<span style="color: #ff0000"><strong>人気女優200名以上</strong></span>がOLとして登場し、社内でセクハラし放題で部下とハメまくっているドスケベ社員が日本全国で<span style="color: #ff0000"><strong>140万人</strong></span>を達成している【<strong>ハメカン</strong>】のスマートフォンとPCゲームサービス</span><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">（公式サイト▶<a href="https://games.dmm.co.jp/detail/hamekan/" target="_blank" rel="noopener"><strong>こちら</strong></a></span><span style="font-weight: 400">）</span>では、<strong><span style="color: #ff0000">９周年</span></strong><span style="font-weight: 400">を迎えたましたこと心より御礼申し上げます。
<h4><span style="font-family: arial, helvetica, sans-serif;font-size: 14pt"><b><span style="color: #ff0000">▼</span>社訓は『1日1セクハラ！』</b></span></h4>
<span style="font-weight: 400;font-family: arial, helvetica, sans-serif">女子社員をスカウトすると、セクハラ（おさわり）機能が発動されます。</span>

<span style="font-weight: 400;font-family: arial, helvetica, sans-serif">魅惑的なあのコに挨拶代わりのセクハラをすると、「アッ、課長っ…そんなトコを触っちゃダメです…」と、恥じらいと絶頂のリアクションがプレイヤーの興奮をそそります。</span>

<span style="font-weight: 400;font-family: arial, helvetica, sans-serif">スカウトの期待値により変わるセクハラ演出がプレイヤーの熱量をさらに上げ、激レア女子社員欲しさに何度もスカウトしたくなっちゃう男性社員が急増中！</span>

&nbsp;
<h4><span style="font-family: arial, helvetica, sans-serif;font-size: 14pt"><b><span style="color: #ff0000">▼</span>ナビゲーターに人気AV女優『</b><span style="color: #ff0000"><b>楪カレン</b></span><b>』を起用！</b></span></h4>
<span style="font-weight: 400;font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">ミニマム巨乳体型ながら「見た目から想像できないパワフルなSEX」で大活躍中の『<strong>楪カレン</strong>』がプレイヤーの年下女性上司役として、プレイヤーを優しくエロく激しくサポートいたします♪</span></span>

&nbsp;
<h4><span style="font-family: arial, helvetica, sans-serif;font-size: 14pt"><b><span style="color: #ff0000">▼</span>ゲーム概要</b></span></h4>
<table style="border-collapse: collapse;width: 100%;height: 408px" border="1">
<tbody>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">名称</span> <span style="font-weight: 400">：特命！ハメまくりカンパニー（通称：ハメカン）</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">ジャンル ：育成ゲーム、AV女優</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">対象機種 ：</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;text-align: right;height: 24px">▽</td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">PC</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;height: 24px"></td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">IE11以上, Chrome36以上, FireFox34以上, Safari5以上</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;text-align: right;height: 24px">▽</td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">スマートフォン</span></span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;height: 24px"></td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">iOS7以上Safari, Android4以上標準Browser, GoogleChrome</span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">価格</span> <span style="font-weight: 400">：無料（ゲーム内課金あり）</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">サービス開始</span> <span style="font-weight: 400">：2015年6月下旬</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">メーカー</span> <span style="font-weight: 400">：AV GAMES</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">著作権表記 ：©2015 AV GAMES</span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">公式サイト▶<a href="https://www.dmm.co.jp/netgame_s/hamekan/" target="_blank" rel="noopener">こちら</a></span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-family: arial, helvetica, sans-serif"><span style="font-weight: 400">公式Twitter▶<a href="https://twitter.com/HameKan_STAFF/" target="_blank" rel="noopener">こちら</a></span></span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;text-align: right;height: 24px"><span style="font-family: arial, helvetica, sans-serif">⇒</span></td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">最新イベント情報配信中！</span></td>
</tr>
<tr style="height: 24px">
<td style="width: 6.80048%;text-align: right;height: 24px"></td>
<td style="width: 93.1997%;height: 24px" colspan="5"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">フォローお願いいたします！</span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">Published by © AV GAMES</span></td>
</tr>
<tr style="height: 24px">
<td style="width: 100%;height: 24px" colspan="6"><span style="font-weight: 400;font-family: arial, helvetica, sans-serif">Copyright © AV GAMES</span></td>
</tr>
</tbody>
</table>
&nbsp;]]></description>
<pubDate>Wed, 31 Jul 2024 09:00:16 +0000</pubDate>
<lastPubDate>Tue, 30 Jul 2024 08:34:32 +0000</lastPubDate>
<link>https://news.dmm.co.jp/article/1294671/</link>
<guid>1294671</guid>
<category>adult(r18)</category>
<status>update</status>
<relatedLinks>
<relatedLink>
<title><![CDATA[正常位しかやったことがなかったニコニコ笑顔の超ウブっ娘女子大生・堀田真央ちゃん。AVで初めてやったパイズリに点数をつけたら〇〇点!? 清純派な真央ちゃんの初体験の相手は意外にも!?]]></title>
<link>https://news.dmm.co.jp/article/1293466/</link>
<url>https://news.dmm.co.jp/article/1293466/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[常にニコニコ笑顔でマシュマロHカップの超癒し系新人・堀田真央ちゃん。経験人数がたった一人のウブっ子だけど、AVに出演して本人もビックリするほどの敏感体質が覚醒！]]></title>
<link>https://news.dmm.co.jp/article/1293260/</link>
<url>https://news.dmm.co.jp/article/1293260/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[AV界に突如現れた常夏Gカップボディ美少女の七海那美（なみなみ）ちゃん。可愛さ・スタイル・性格・エロさの全てが超一級品！ 乗るしかない、このビッグウェーブに！]]></title>
<link>https://news.dmm.co.jp/article/1292750/</link>
<url>https://news.dmm.co.jp/article/1292750/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[水泳で鍛え上げた健康的Gカップボディを持つ七海那美（なみなみ）ちゃん。このダイナマイトボディを作った秘密は米３合!?　ニコニコ笑顔でAV界に新しい波を起こしちゃう！]]></title>
<link>https://news.dmm.co.jp/article/1292574/</link>
<url>https://news.dmm.co.jp/article/1292574/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[正常位以外の体位をしたことが無かったどころか、アレもコレも全てAVで初めてやったという、ある意味で「ほぼ処女」的な存在の超ピュアガール・宮崎千尋ちゃん！]]></title>
<link>https://news.dmm.co.jp/article/1291681/</link>
<url>https://news.dmm.co.jp/article/1291681/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[おどおどして小動物のように可愛らしい宮崎千尋ちゃん。彼氏と同棲までしていたのにセックスレスで、AVに出るまで『正常位』以外の体位を全く知らなかった超ピュアガール！]]></title>
<link>https://news.dmm.co.jp/article/1291665/</link>
<url>https://news.dmm.co.jp/article/1291665/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[Qカップという唯一無二の武器を持ち、さらにドエロくてトークも面白いという完璧すぎる美女・Himariちゃん。今回はプライベートの話をたっぷり聞きましたが、かなりぶっ飛んでます！]]></title>
<link>https://news.dmm.co.jp/article/1291491/</link>
<url>https://news.dmm.co.jp/article/1291491/</url>
</relatedLink>
<relatedLink>
<title><![CDATA[Qカップという規格外の大きさのおっぱいを持ちながら、ウエストも引き締まり、顔も可愛いという、エロ漫画から飛び出してきたような存在のHimariちゃん。エロさも規格外です！]]></title>
<link>https://news.dmm.co.jp/article/1291286/</link>
<url>https://news.dmm.co.jp/article/1291286/</url>
</relatedLink>
</relatedLinks>
<tags>MOODYZ</tags>
<tags>インタビュー</tags>
<tags>ムーディーズ</tags>
<tags>塔乃花鈴</tags>
<tags>新人</tags>
<tags>新人女優</tags>
</item>
</channel>
</rss>